<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="./src/main.css">
    <link rel="stylesheet" href="/node_modules/remixicon/fonts/remixicon.css">
    <title>Document</title>
</head>
<body>
    <section class="bg-primary py-10">
        <div class="d-flex-row justify-content-between">
            <div id="social-media" class="d-flex-row gap-20">
                <span>Follow us on:</span>
                <div class="d-flex-row align-items-center gap-20">
                    <i class="icon icon-md ri ri-facebook-fill" onclick=""></i>
                    <i class="icon icon-md ri ri-twitter-x-line" onclick=""></i>
                    <i class="icon icon-md ri ri-twitch-line" onclick=""></i>
                    <i class="icon icon-md ri ri-youtube-fill" onclick=""></i>
                    <i class="icon icon-md ri ri-instagram-line" onclick=""></i>
                </div>
            </div>
            <span>Lorem ipsum dolor sit amet consectetur. Arcu commodo venenatis vitae eu eros nibh at erat.</span>
        </div>
    </section>

    <section class="w-100 bg-image pos-relative px-0" style="height: 650px; background: red; background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/bg-1.png);">
        <header class="px-30 d-flex-row align-items-center" style="height:80px;">
            <img src="./img/logo.png">
        </header>
    </section>

    <!-- Bootstrap -->
</body>
</html>