@import url(./font.css);

/* Default */
* {font-family: 'Saira'; font-weight: 400; box-sizing: border-box; margin: 0; padding: 0;}

/* H1 to H6 */
h1 {font-family: 'Russo One';text-transform: uppercase;font-size: 3.5rem;}
h2 {font-family: 'Russo One';text-transform: uppercase;font-size: 3rem;}
h3 {font-family: 'Russo One';text-transform: uppercase;font-size: 2.5rem;}
h4 {font-family: 'Russo One';text-transform: uppercase;font-size: 2rem;}
h5 {font-family: 'Russo One';text-transform: uppercase;font-size: 1.5rem;}
h6 {font-family: 'Russo One';text-transform: uppercase;font-size: 1rem;}

h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {font-family: inherit; color: inherit !important; text-transform: inherit; font-size: inherit !important;}

/* Header footer prefabs */
header, footer {
    width: 100%;
}

/* Prefabs */
:root {
    --black: #000;
    --white: #fff;

    --btn-primary: #237575;
    --btn-secondary: #8C893B;

    --input-border:  #527E97;
    --input-background: #1A242D;
    --input-background-blend: #1A242DCA;
    --input-background-focus: #2C4153;

    --primary-background: radial-gradient(50% 50% at 50% 50%, rgba(58, 100, 130, 0.4) 0%, rgba(58, 100, 130, 0) 100%), #1A242D;
    --secondary-background: #131922;
}

html[data-theme='light'] {
    --black: #000;
    --white: #fff;
}

html[data-theme='dark'] {
    --black: #fff;
    --white: #000;
}

/* Font styler */
.fw-100, .fw-thin, .thin {
    font-weight: 100;
}

.fw-200, .fw-xlight, .xlight {
    font-weight: 200;
}

.fw-300, .fw-light, .light {
    font-weight: 300;
}

.fw-400, .fw-normal, .normal {
    font-weight: 400;
}

.fw-500, .fw-medium, .medium {
    font-weight: 500;
}

.fw-600, .fw-semibold, .semibold {
    font-weight: 600;
}

.fw-700, .fw-bold, .bold {
    font-weight: 700;
}

.fw-800, .fw-extrabold, .extrabold {
    font-weight: 800;
}

.fw-900, .fw-black, .black {
    font-weight: 900;
}

i, .italic {
    font-weight: inherit;
    text-decoration: inherit;
    font-style: italic;
}

u, .underline {
    font-weight: inherit;
    text-decoration: underline;
    font-style: inherit;
}

s, .wrong, .strikethrough {
    font-weight: inherit;
    text-decoration: line-through;
    font-style: inherit;
}

p, span {
    font-size: 1rem;
}

a {
    font-weight: inherit;
    color: var(--black);
    font-style: inherit;
    text-decoration: none;
}

/* font-size */
.fs-8, .fs-grain, .fs-gr {font-size: 0.5rem;}
.fs-10, .fs-tiny, .fs-t, .fs-tn {font-size: 0.625rem;}
.fs-12, .fs-xsmall, .fs-xs {font-size: 0.75rem;}
.fs-14, .fs-small, .fs-s, .fs-sm {font-size: 0.875rem;}
.fs-16, .fs-normal, .fs-n, .fs-md {font-size: 1rem;}
.fs-20, .fs-large, .fs-l, .fs-lg {font-size: 1.25rem;}
.fs-24, .fs-xlarge, .fs-xl {font-size: 1.5rem;}
.fs-30, .fs-xxlarge, .fs-2xl {font-size: 1.875rem;}
.fs-36, .fs-giant, .fs-g, .fs-gn {font-size: 2.25rem;}
.fs-40, .fs-xgiant, .fs-xg, .fs-xg {font-size: 2.5rem;}
.fs-48, .fs-xxgiant, .fs-xxg, .fs-xxg {font-size: 3rem;}

/* font changer */
.ff-saira {font-family: 'Saira';}
.ff-russo, .ff-russo-one {font-family: 'Russo One';}

/* icon size */
.icon-sm {width: 16px; height: 16px; font-size: 1rem; display: flex; justify-content: center; align-items: center;}
.icon-md {width: 24px; height: 24px; font-size: 1.5rem; display: flex; justify-content: center; align-items: center;}
.icon-lg {width: 36px; height: 36px; font-size: 2rem; display: flex; justify-content: center; align-items: center;}

/* gaps */
.gap-1 {gap: 1px;}
.gap-5 {gap: 5px;}
.gap-10 {gap: 10px;}
.gap-15 {gap: 15px;}
.gap-20 {gap: 20px;}
.gap-25 {gap: 25px;}
.gap-30 {gap: 30px;}
.gap-35 {gap: 35px;}
.gap-40 {gap: 40px;}
.gap-45 {gap: 45px;}
.gap-50 {gap: 50px;}
.gap-55 {gap: 56px;}
.gap-60 {gap: 60px;}
.gap-65 {gap: 65px;}
.gap-70 {gap: 70px;}
.gap-75 {gap: 75px;}
.gap-80 {gap: 80px;}
.gap-85 {gap: 85px;}
.gap-90 {gap: 90px;}
.gap-95 {gap: 95px;}
.gap-100 {gap: 100px;}

/* Paddings */
.px-0 {padding-left: 0px; padding-right: 0px;}
.px-1 {padding-left: 1px; padding-right: 1px;}
.px-5 {padding-left: 5px; padding-right: 5px;}
.px-10 {padding-left: 10px; padding-right: 10px;}
.px-15 {padding-left: 15px; padding-right: 15px;}
.px-20 {padding-left: 20px; padding-right: 20px;}
.px-25 {padding-left: 25px; padding-right: 25px;}
.px-30 {padding-left: 30px; padding-right: 30px;}
.px-35 {padding-left: 35px; padding-right: 35px;}
.px-40 {padding-left: 40px; padding-right: 40px;}
.px-45 {padding-left: 45px; padding-right: 45px;}
.px-50 {padding-left: 50px; padding-right: 50px;}
.px-55 {padding-left: 56px; padding-right: 56px;}
.px-60 {padding-left: 60px; padding-right: 60px;}
.px-65 {padding-left: 65px; padding-right: 65px;}
.px-70 {padding-left: 70px; padding-right: 70px;}
.px-75 {padding-left: 75px; padding-right: 75px;}
.px-80 {padding-left: 80px; padding-right: 80px;}
.px-85 {padding-left: 85px; padding-right: 85px;}
.px-90 {padding-left: 90px; padding-right: 90px;}
.px-95 {padding-left: 95px; padding-right: 95px;}
.px-100 {padding-left: 100px; padding-right: 100px;}

.py-0 {padding-top: 0px; padding-bottom: 0px;}
.py-1 {padding-top: 1px; padding-bottom: 1px;}
.py-5 {padding-top: 5px; padding-bottom: 5px;}
.py-10 {padding-top: 10px; padding-bottom: 10px;}
.py-15 {padding-top: 15px; padding-bottom: 15px;}
.py-20 {padding-top: 20px; padding-bottom: 20px;}
.py-25 {padding-top: 25px; padding-bottom: 25px;}
.py-30 {padding-top: 30px; padding-bottom: 30px;}
.py-35 {padding-top: 35px; padding-bottom: 35px;}
.py-40 {padding-top: 40px; padding-bottom: 40px;}
.py-45 {padding-top: 45px; padding-bottom: 45px;}
.py-50 {padding-top: 50px; padding-bottom: 50px;}
.py-55 {padding-top: 56px; padding-bottom: 56px;}
.py-60 {padding-top: 60px; padding-bottom: 60px;}
.py-65 {padding-top: 65px; padding-bottom: 65px;}
.py-70 {padding-top: 70px; padding-bottom: 70px;}
.py-75 {padding-top: 75px; padding-bottom: 75px;}
.py-80 {padding-top: 80px; padding-bottom: 80px;}
.py-85 {padding-top: 85px; padding-bottom: 85px;}
.py-90 {padding-top: 90px; padding-bottom: 90px;}
.py-95 {padding-top: 95px; padding-bottom: 95px;}
.py-100 {padding-top: 100px; padding-bottom: 100px;}

.p-0 {padding: 0;}
.p-1 {padding: 1px;}
.p-5 {padding: 5px;}
.p-10 {padding: 10px;}
.p-15 {padding: 15px;}
.p-20 {padding: 20px;}
.p-25 {padding: 25px;}
.p-30 {padding: 30px;}
.p-35 {padding: 35px;}
.p-40 {padding: 40px;}
.p-45 {padding: 45px;}
.p-50 {padding: 50px;}
.p-55 {padding: 56px;}
.p-60 {padding: 60px;}
.p-65 {padding: 65px;}
.p-70 {padding: 70px;}
.p-75 {padding: 75px;}
.p-80 {padding: 80px;}
.p-85 {padding: 85px;}
.p-90 {padding: 90px;}
.p-95 {padding: 95px;}
.p-100 {padding: 100px;}

.pt-0 {padding-top: 0;}
.pt-1 {padding-top: 1px;}
.pt-5 {padding-top: 5px;}
.pt-10 {padding-top: 10px;}
.pt-15 {padding-top: 15px;}
.pt-20 {padding-top: 20px;}
.pt-25 {padding-top: 25px;}
.pt-30 {padding-top: 30px;}
.pt-35 {padding-top: 35px;}
.pt-40 {padding-top: 40px;}
.pt-45 {padding-top: 45px;}
.pt-50 {padding-top: 50px;}
.pt-55 {padding-top: 56px;}
.pt-60 {padding-top: 60px;}
.pt-65 {padding-top: 65px;}
.pt-70 {padding-top: 70px;}
.pt-75 {padding-top: 75px;}
.pt-80 {padding-top: 80px;}
.pt-85 {padding-top: 85px;}
.pt-90 {padding-top: 90px;}
.pt-95 {padding-top: 95px;}
.pt-100 {padding-top: 100px;}

.pb-0 {padding-bottom: 0;}
.pb-1 {padding-bottom: 1px;}
.pb-5 {padding-bottom: 5px;}
.pb-10 {padding-bottom: 10px;}
.pb-15 {padding-bottom: 15px;}
.pb-20 {padding-bottom: 20px;}
.pb-25 {padding-bottom: 25px;}
.pb-30 {padding-bottom: 30px;}
.pb-35 {padding-bottom: 35px;}
.pb-40 {padding-bottom: 40px;}
.pb-45 {padding-bottom: 45px;}
.pb-50 {padding-bottom: 50px;}
.pb-55 {padding-bottom: 56px;}
.pb-60 {padding-bottom: 60px;}
.pb-65 {padding-bottom: 65px;}
.pb-70 {padding-bottom: 70px;}
.pb-75 {padding-bottom: 75px;}
.pb-80 {padding-bottom: 80px;}
.pb-85 {padding-bottom: 85px;}
.pb-90 {padding-bottom: 90px;}
.pb-95 {padding-bottom: 95px;}
.pb-100 {padding-bottom: 100px;}

.pl-0 {padding-left: 0;}
.pl-1 {padding-left: 1px;}
.pl-5 {padding-left: 5px;}
.pl-10 {padding-left: 10px;}
.pl-15 {padding-left: 15px;}
.pl-20 {padding-left: 20px;}
.pl-25 {padding-left: 25px;}
.pl-30 {padding-left: 30px;}
.pl-35 {padding-left: 35px;}
.pl-40 {padding-left: 40px;}
.pl-45 {padding-left: 45px;}
.pl-50 {padding-left: 50px;}
.pl-55 {padding-left: 56px;}
.pl-60 {padding-left: 60px;}
.pl-65 {padding-left: 65px;}
.pl-70 {padding-left: 70px;}
.pl-75 {padding-left: 75px;}
.pl-80 {padding-left: 80px;}
.pl-85 {padding-left: 85px;}
.pl-90 {padding-left: 90px;}
.pl-95 {padding-left: 95px;}
.pl-100 {padding-left: 100px;}

.pr-0 {padding-right: 0;}
.pr-1 {padding-right: 1px;}
.pr-5 {padding-right: 5px;}
.pr-10 {padding-right: 10px;}
.pr-15 {padding-right: 15px;}
.pr-20 {padding-right: 20px;}
.pr-25 {padding-right: 25px;}
.pr-30 {padding-right: 30px;}
.pr-35 {padding-right: 35px;}
.pr-40 {padding-right: 40px;}
.pr-45 {padding-right: 45px;}
.pr-50 {padding-right: 50px;}
.pr-55 {padding-right: 56px;}
.pr-60 {padding-right: 60px;}
.pr-65 {padding-right: 65px;}
.pr-70 {padding-right: 70px;}
.pr-75 {padding-right: 75px;}
.pr-80 {padding-right: 80px;}
.pr-85 {padding-right: 85px;}
.pr-90 {padding-right: 90px;}
.pr-95 {padding-right: 95px;}
.pr-100 {padding-right: 100px;}

/* Margins */
.mx-0 {margin-left: 0px; margin-right: 0px;}
.mx-1 {margin-left: 1px; margin-right: 1px;}
.mx-5 {margin-left: 5px; margin-right: 5px;}
.mx-10 {margin-left: 10px; margin-right: 10px;}
.mx-15 {margin-left: 15px; margin-right: 15px;}
.mx-20 {margin-left: 20px; margin-right: 20px;}
.mx-25 {margin-left: 25px; margin-right: 25px;}
.mx-30 {margin-left: 30px; margin-right: 30px;}
.mx-35 {margin-left: 35px; margin-right: 35px;}
.mx-40 {margin-left: 40px; margin-right: 40px;}
.mx-45 {margin-left: 45px; margin-right: 45px;}
.mx-50 {margin-left: 50px; margin-right: 50px;}
.mx-55 {margin-left: 56px; margin-right: 56px;}
.mx-60 {margin-left: 60px; margin-right: 60px;}
.mx-65 {margin-left: 65px; margin-right: 65px;}
.mx-70 {margin-left: 70px; margin-right: 70px;}
.mx-75 {margin-left: 75px; margin-right: 75px;}
.mx-80 {margin-left: 80px; margin-right: 80px;}
.mx-85 {margin-left: 85px; margin-right: 85px;}
.mx-90 {margin-left: 90px; margin-right: 90px;}
.mx-95 {margin-left: 95px; margin-right: 95px;}
.mx-100 {margin-left: 100px; margin-right: 100px;}

.my-0 {margin-top: 0px; margin-bottom: 0px;}
.my-1 {margin-top: 1px; margin-bottom: 1px;}
.my-5 {margin-top: 5px; margin-bottom: 5px;}
.my-10 {margin-top: 10px; margin-bottom: 10px;}
.my-15 {margin-top: 15px; margin-bottom: 15px;}
.my-20 {margin-top: 20px; margin-bottom: 20px;}
.my-25 {margin-top: 25px; margin-bottom: 25px;}
.my-30 {margin-top: 30px; margin-bottom: 30px;}
.my-35 {margin-top: 35px; margin-bottom: 35px;}
.my-40 {margin-top: 40px; margin-bottom: 40px;}
.my-45 {margin-top: 45px; margin-bottom: 45px;}
.my-50 {margin-top: 50px; margin-bottom: 50px;}
.my-55 {margin-top: 56px; margin-bottom: 56px;}
.my-60 {margin-top: 60px; margin-bottom: 60px;}
.my-65 {margin-top: 65px; margin-bottom: 65px;}
.my-70 {margin-top: 70px; margin-bottom: 70px;}
.my-75 {margin-top: 75px; margin-bottom: 75px;}
.my-80 {margin-top: 80px; margin-bottom: 80px;}
.my-85 {margin-top: 85px; margin-bottom: 85px;}
.my-90 {margin-top: 90px; margin-bottom: 90px;}
.my-95 {margin-top: 95px; margin-bottom: 95px;}
.my-100 {margin-top: 100px; margin-bottom: 100px;}

.m-0 {margin: 0px;}
.m-1 {margin: 1px;}
.m-5 {margin: 5px;}
.m-10 {margin: 10px;}
.m-15 {margin: 15px;}
.m-20 {margin: 20px;}
.m-25 {margin: 25px;}
.m-30 {margin: 30px;}
.m-35 {margin: 35px;}
.m-40 {margin: 40px;}
.m-45 {margin: 45px;}
.m-50 {margin: 50px;}
.m-55 {margin: 56px;}
.m-60 {margin: 60px;}
.m-65 {margin: 65px;}
.m-70 {margin: 70px;}
.m-75 {margin: 75px;}
.m-80 {margin: 80px;}
.m-85 {margin: 85px;}
.m-90 {margin: 90px;}
.m-95 {margin: 95px;}
.m-100 {margin: 100px;}

.mt-0 {margin-top: 0;}
.mt-1 {margin-top: 1px;}
.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-25 {margin-top: 25px;}
.mt-30 {margin-top: 30px;}
.mt-35 {margin-top: 35px;}
.mt-40 {margin-top: 40px;}
.mt-45 {margin-top: 45px;}
.mt-50 {margin-top: 50px;}
.mt-55 {margin-top: 56px;}
.mt-60 {margin-top: 60px;}
.mt-65 {margin-top: 65px;}
.mt-70 {margin-top: 70px;}
.mt-75 {margin-top: 75px;}
.mt-80 {margin-top: 80px;}
.mt-85 {margin-top: 85px;}
.mt-90 {margin-top: 90px;}
.mt-95 {margin-top: 95px;}
.mt-100 {margin-top: 100px;}

.mb-0 {margin-bottom: 0;}
.mb-1 {margin-bottom: 1px;}
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-25 {margin-bottom: 25px;}
.mb-30 {margin-bottom: 30px;}
.mb-35 {margin-bottom: 35px;}
.mb-40 {margin-bottom: 40px;}
.mb-45 {margin-bottom: 45px;}
.mb-50 {margin-bottom: 50px;}
.mb-55 {margin-bottom: 56px;}
.mb-60 {margin-bottom: 60px;}
.mb-65 {margin-bottom: 65px;}
.mb-70 {margin-bottom: 70px;}
.mb-75 {margin-bottom: 75px;}
.mb-80 {margin-bottom: 80px;}
.mb-85 {margin-bottom: 85px;}
.mb-90 {margin-bottom: 90px;}
.mb-95 {margin-bottom: 95px;}
.mb-100 {margin-bottom: 100px;}

.ml-0 {margin-left: 0;}
.ml-1 {margin-left: 1px;}
.ml-5 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}
.ml-20 {margin-left: 20px;}
.ml-25 {margin-left: 25px;}
.ml-30 {margin-left: 30px;}
.ml-35 {margin-left: 35px;}
.ml-40 {margin-left: 40px;}
.ml-45 {margin-left: 45px;}
.ml-50 {margin-left: 50px;}
.ml-55 {margin-left: 56px;}
.ml-60 {margin-left: 60px;}
.ml-65 {margin-left: 65px;}
.ml-70 {margin-left: 70px;}
.ml-75 {margin-left: 75px;}
.ml-80 {margin-left: 80px;}
.ml-85 {margin-left: 85px;}
.ml-90 {margin-left: 90px;}
.ml-95 {margin-left: 95px;}
.ml-100 {margin-left: 100px;}

.mr-0 {margin-right: 0;}
.mr-1 {margin-right: 1px;}
.mr-5 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}
.mr-20 {margin-right: 20px;}
.mr-25 {margin-right: 25px;}
.mr-30 {margin-right: 30px;}
.mr-35 {margin-right: 35px;}
.mr-40 {margin-right: 40px;}
.mr-45 {margin-right: 45px;}
.mr-50 {margin-right: 50px;}
.mr-55 {margin-right: 56px;}
.mr-60 {margin-right: 60px;}
.mr-65 {margin-right: 65px;}
.mr-70 {margin-right: 70px;}
.mr-75 {margin-right: 75px;}
.mr-80 {margin-right: 80px;}
.mr-85 {margin-right: 85px;}
.mr-90 {margin-right: 90px;}
.mr-95 {margin-right: 95px;}
.mr-100 {margin-right: 100px;}

/* z-index */
.z-n1000, .z-behind {z-index: -1000;}
.z-n5 {z-index: -5;}
.z-n4 {z-index: -4;}
.z-n3 {z-index: -3;}
.z-n2 {z-index: -2;}
.z-n1 {z-index: -1;}
.z-normal, .z-0 {z-index: 0;}
.z-1 {z-index: 1;}
.z-2 {z-index: 2;}
.z-3 {z-index: 3;}
.z-4 {z-index: 4;}
.z-5 {z-index: 5;}
.z-6 {z-index: 6;}
.z-7 {z-index: 7;}
.z-8 {z-index: 8;}
.z-9 {z-index: 9;}
.z-10 {z-index: 10;}
.z-1000, .z-front {z-index: 1000;}

/* displays */
.d-none {display: none !important;}
.d-block {display: block !important;}
.d-inline-block {display: inline-block !important;}
.d-flex {display: flex !important;}
.d-inline {display: inline !important;}

/* Positions */
.pos-absolute {position: absolute !important;}
.pos-relative {position: relative !important;}
.pos-fixed {position: fixed !important;}
.pos-static {position: static !important;}
.pos-sticky {position: sticky !important;}

/* Left right */
.top-left {position: absolute; top: 0; left: 0;}
.top-center {position: absolute; top: 0; left: 50%; transform: matrix(-50%, 0%);}
.top-right {position: absolute; top: 0; right: 0;}
.middle-left {position: absolute; top: 50%; left: 0; transform: matrix(0, -50%);}
.middle-center {position: absolute; top: 50%; left: 50%; transform: matrix(-50%, -50%);}
.middle-right {position: absolute; top: 50%; right: 0; transform: matrix(0, -50%);}
.bottom-left {position: absolute; bottom: 0; left: 0;}
.bottom-center {position: absolute; bottom: 0; left: 50%; transform: matrix(-50%, 0%);}
.bottom-right {position: absolute; bottom: 0; right: 0;}

/* visibility */
.show {visibility: visible !important;}
.hidden {visibility: hidden !important;}
.collapsed {visibility: collapse !important;}

/* Flexbox */
.d-flex-column, .flex-column {display: flex;flex-direction: column;}
.d-flex-column-inverse, .flex-column-inverse {display: flex;flex-direction: column-reverse;}
.d-flex-row, .flex-row {display: flex;flex-direction: row;}
.d-flex-row-inverse, .flex-row-inverse {display: flex;flex-direction: row-reverse;}

.align-items-top, .align-items-start {align-items: start;}
.align-items-center, .align-items-middle {align-items: center;}
.align-items-bottom, .align-items-end {align-items: end;}

.justify-content-left {justify-content: left;}
.justify-content-center, .justify-content-middle {justify-content: center;}
.justify-content-right {justify-content: right;}
.justify-content-baseline {justify-content: baseline;}
.justify-content-around {justify-content: space-around;}
.justify-content-between {justify-content: space-between;}
.justify-content-even, .justify-content-evenly {justify-content: space-evenly;}

.flex-middle-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Width height */
.w-10 {width: 10%;}
.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-40 {width: 40%;}
.w-50 {width: 50%;}
.w-60 {width: 60%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.w-90 {width: 90%;}
.w-100 {width: 100%;}

.vw-10 {width: 10vw;}
.vw-20 {width: 20vw;}
.vw-30 {width: 30vw;}
.vw-40 {width: 40vw;}
.vw-50 {width: 50vw;}
.vw-60 {width: 60vw;}
.vw-70 {width: 70vw;}
.vw-80 {width: 80vw;}
.vw-90 {width: 90vw;}
.vw-100 {width: 100vw;}

.w-max {width: max-content !important;}
.w-fit {width: fit-content !important;}
.w-min {width: min-content !important;}

.h-10 {height: 10%;}
.h-20 {height: 20%;}
.h-30 {height: 30%;}
.h-40 {height: 40%;}
.h-50 {height: 50%;}
.h-60 {height: 60%;}
.h-70 {height: 70%;}
.h-80 {height: 80%;}
.h-90 {height: 90%;}
.h-100 {height: 100%;}

.wh-10 {width: 10px; height: 10px;}
.wh-20 {width: 20px; height: 20px;}
.wh-30 {width: 30px; height: 30px;}
.wh-40 {width: 40px; height: 40px;}
.wh-50 {width: 50px; height: 50px;}
.wh-60 {width: 60px; height: 60px;}
.wh-70 {width: 70px; height: 70px;}
.wh-80 {width: 80px; height: 80px;}
.wh-90 {width: 90px; height: 90px;}
.wh-100 {width: 100px; height: 100px;}
.wh-150 {width: 150px; height: 150px;}
.wh-200 {width: 200px; height: 200px;}
.wh-250 {width: 250px; height: 250px;}
.wh-300 {width: 300px; height: 300px;}
.wh-350 {width: 350px; height: 350px;}
.wh-400 {width: 400px; height: 400px;}
.wh-450 {width: 450px; height: 450px;}
.wh-500 {width: 500px; height: 500px;}
.wh-550 {width: 550px; height: 550px;}
.wh-600 {width: 600px; height: 600px;}
.wh-650 {width: 650px; height: 650px;}
.wh-700 {width: 700px; height: 700px;}
.wh-750 {width: 750px; height: 750px;}
.wh-800 {width: 800px; height: 800px;}
.wh-850 {width: 850px; height: 850px;}
.wh-900 {width: 900px; height: 900px;}
.wh-950 {width: 950px; height: 950px;}
.wh-1000 {width: 100px; height: 100px;}

.vh-10 {height: 10vh;}
.vh-20 {height: 20vh;}
.vh-30 {height: 30vh;}
.vh-40 {height: 40vh;}
.vh-50 {height: 50vh;}
.vh-60 {height: 60vh;}
.vh-70 {height: 70vh;}
.vh-80 {height: 80vh;}
.vh-90 {height: 90vh;}
.vh-100 {height: 100vh;}

.h-max {height: max-content !important;}
.h-fit {height: max-content !important;}
.h-min {height: max-content !important;}

/* Horizontal line */
.hr {border: 2px solid var(--black);}
.hr.dashed {border-style: dashed;}
.hr.dotted {border-style: dotted;}
.hr.groove {border-style: groove;}
.hr.double {border-style: double;}
.hr.outset {border-style: outset;}
.hr.ridge {border-style: ridge;}
.hr.solid {border-style: solid;}

.hr-2 {border-width: 2px;}
.hr-4 {border-width: 4px;}
.hr-6 {border-width: 6px;}
.hr-8 {border-width: 8px;}
.hr-10 {border-width: 10px;}

/* Text color */
.text-white, .txt-white, .t-white {color: var(--white)}
.text-black, .txt-black, .t-black {color: var(--black)}

/* Text align */
.text-left, .txt-left {text-align: left;}
.text-center, .txt-center {text-align: center;}
.text-right, .txt-right {text-align: right;}
.text-justify, .txt-justify {text-align: justify;}

/* overflow */
.overflow-x-hidden {overflow-x: hidden;}
.overflow-x-scroll {overflow-x: scroll;}
.overflow-x-auto {overflow-x: auto;}

.overflow-y-hidden {overflow-y: hidden;}
.overflow-y-scroll {overflow-y: scroll;}
.overflow-y-auto {overflow-y: auto;}

.overflow-x-hidden-y-scroll {overflow: hidden scroll;}
.overflow-x-scroll-y-hidden {overflow: scroll hidden;}

.overflow-hidden {overflow: hidden;}
.overflow-scroll {overflow: scroll;}
.overflow-auto {overflow: auto;}


/* Bg */
.bg-heading-primary, .background-heading-primary {background: var(--input-background); color: var(--white)}
.bg-heading-primary-blend, .background-heading-primary-blend {background: var(--input-background-blend); color: var(--white)}

.bg-primary, .background-primary {background: var(--primary-background); color: var(--white)}
.bg-secondary, .background-secondary {background: var(--secondary-background); color: var(--white)}

/* Section border */
section.section-bordered { border-top: 2px solid var(--input-border); border-bottom: 2px solid var(--input-border);}

/* Box Shadow */
.box-shadow-primary {
    box-shadow: 4px 4px 0 var(--btn-primary);
}

.box-shadow-primary {
    box-shadow: 4px 4px 0 var(--btn-primary);
}

.box-shadow-secondary {
    box-shadow: 4px 4px 0 var(--btn-secondary);
}

[class*='icon'].box-shadow-primary {
    box-shadow: none;
    text-shadow: 1px 2px 0 var(--btn-primary);
}

[class*='icon'].box-shadow-secondary {
    box-shadow: none;
    text-shadow: 1px 2px 0 var(--btn-secondary);
}

/* Background image fix */
.bg-image, .background-image, .bg-image-fix, .background-image-fix {
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* Button */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: var(--white);
    font-weight: 700;
    font-size: 1rem;
    height: 40px;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 0 var(--btn-primary);
    transition: background cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
    user-select: none;
}

button.lg, button.large, button.big {
    height: 60px;
    font-size: 1.5rem;
}

button:hover {
    background: #ddd;
}

button.btn-primary {
    box-shadow: 4px 4px 0 var(--btn-primary) !important;
}

button.btn-secondary {
    box-shadow: 4px 4px 0 var(--btn-secondary) !important;
}

button[disabled] {
    background: #efefef;
}

/* Button grouper */
.h-group, .horizontal-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.v-group, .vertical-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

/* Scenario */
[disabled] {
    cursor: not-allowed;
}

[onclick] {
    cursor: pointer;
}

/* Input */
input {
    width: 100%;
    font-size: 1rem;
    height: 40px;
    padding: 10px;
    background: var(--input-background);
    color: var(--white);
    border: 3px solid var(--input-border);
    outline: none;
    transition: background cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

input::placeholder {
    color: var(--input-border);
}

input.blend {
    background: var(--input-background-blend);
}

input:focus {
    outline: none;
    background: var(--input-background-focus);
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 1.125rem;
}

input[type="radio"], input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 20px; height: 20px;
}

input[type="radio"] {
    border-radius: 100px;
}

input[type="radio"]:checked {
    border-color: var(--white);
    outline: 4px solid var(--white);
    outline-offset: -7px;
    background: var(--white);
}

input[type="checkbox"]:checked {
    background: var(--input-border);
}

input[type="checkbox"]:checked::after {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: var(--white);
    content: '✔';
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 10000000000000000000s 0s, color 10000000000000000000s 0s;
}

/* Input group */
.input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    color: var(--input-border);
    width: 100%;
    height: 40px;
    transition: background cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

/* 
.input-group.invalid input {
    border-width: 3px;
    border-color: var(--btn-danger) !important;
}

.input-group.invalid i[class*='icon'] {
    border-width: 3px;
    border-color: var(--btn-danger) !important;
} */

.input-group input:focus {
    outline: none !important;
}

.input-group:has(input:focus) {
    outline: none;
}

/* 
.input-group.invalid:has(input:focus) {
    outline-offset: -3px;
} */

.input-group > i[class*='icon'] {
    display: flex;
    width: fit-content;
    height: 40px;
    border: 3px solid var(--input-border);
    color: var(--input-border);
    padding: 0 5px;
    font-size: 1.5rem;
    align-items: center;
    background: var(--input-background);
    transition: background cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

.input-group:has(input.blend) > i[class*='icon'] {
    background: var(--input-background-blend);
}

.input-group:has(input:-webkit-autofill) > i[class*='icon'] {
    background: var(--input-background-focus) !important;
}

.input-group > i[class*='icon']:first-child {
    border-right: none;
}

.input-group:has(input:focus) > i[class*='icon']:first-child {
    background: var(--input-background-focus);
}

.input-group:has(i[class*='icon']:first-child) input {
    padding-left: 5px;
    border-left: none;
}

.input-group > i[class*='icon']:last-child {
    border-left: none;
}

.input-group:has(input.blend) > i[class*='icon']:last-child {
    background: var(--input-background-blend);
}
    
.input-group:has(input:focus) > i[class*='icon']:last-child {
    background: var(--input-background-focus);
}

.input-group:has(i[class*='icon']:last-child) input {
    border-right: none !important;
}

.input-group:has(i[class*='icon']) > input {
    border-left: none;
}

.checkbox-group:focus-within:has(input[type="checkbox"]),
.radio-group:focus-within:has(input[type="radio"]) {
    outline: none !important;
    border: none !important;
}

.checkbox-group, .radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Bordered */
.bordered, .bordered-primary {
    border: 2px solid var(--white);
    box-shadow: 4px 4px 0 var(--btn-primary);
    background: var(--btn-primary);
}

.bordered-secondary {
    box-shadow: 4px 4px 0 var(--btn-secondary);
    background: var(--btn-secondary); 
}

/* section */
section {
    padding: 0 80px;
}

/* swiper */
.swiper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.swiper .swiper-items {
    width: inherit;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
}

/* Footer */
footer {
    width: 100%;
    background: #0F1218;
    color: var(--white);
}

/* d-grid */
.d-grid-4x2 {
    display: grid !important;
    grid-template-columns: repeat(4, auto) !important;
    grid-template-rows: repeat(3, auto) !important;
}